
@font-face {
    font-family: 'Karbon';
    src: url("../assets/fonts/karbon-regular-webfont.ttf") format('truetype');
    src: url("../assets/fonts/karbon-regular-webfont.woff") format('woff');
}

@font-face {
    font-family: 'Karbon-Semibold';
    src: url("../assets/fonts/karbon-semibold-webfont.ttf") format('truetype');
    src: url("../assets/fonts/karbon-semibold-webfont.woff") format('woff');
}