@import 'font';

$tablet: 320px;

$primarycolor: #003479;

$titleColor: $primarycolor;
$labelcolor:  $primarycolor;
$linkcolor:  $primarycolor;
$bgLinkPagination:  $primarycolor;
$linkpagination: #fff;

$borderTable: #00A0DF;

$bgAreas: #F4F4F4;

$searchColor: #644C79;

.main {
  
    //display: flex;
    //flex-direction: column;
    .menu {
        color: $titleColor;
        font-family:'Karbon';
        background-color: $bgAreas;
        padding-left: 30px;
        padding-right: 30PX;
        padding-bottom: 20px;
        padding-top: 20px;
       

      

        .inputsearch, .switchSearch, .userIDSearch {
            padding-bottom: 60px;
        }

        .inputTextWrapper {
            border: 1px solid $primarycolor;
            display: flex;
            align-items: center;

            .titleTextSearch {
                flex-grow: 1;
            }
        }

        .title {
            font-family: Karbon-Semibold;
            font-size: 36px;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 40px;
        }

        .label {
            font-family: Karbon-Semibold;
            font-size: 20px;
            text-transform: uppercase;
            color: $labelcolor;
            margin: 0px;
            padding-bottom: 30px;
        }

        .emptySwitch {
            font-family: Karbon-Semibold;
            font-size: 20px;
            vertical-align: middle;
            cursor: pointer;
            
            &.filtercompletednull {
                background-color: $titleColor ;
                color: $bgAreas;
            }
        }

        .reset {
            text-align: center;
            span {
                font-size: 20px;
                color: $titleColor;
                text-decoration: underline;
                cursor: pointer;
            }

        }
    }

    .tablesearch  {
        font-family: Karbon;
        background-color: $bgAreas;
       // width: 100%;
    

        .Mui-selected {
            color: $linkpagination;
            background-color: $bgLinkPagination;

            &:hover {
                background-color: $bgLinkPagination;
            }
        }

        .tablecustom {
            padding-left: 30px;
            padding-right: 30px;
           
            border-spacing: 0 20px;
            border-collapse: separate;
            padding-bottom: 39px;

            .titlehead {
                th {
                    font-family: Karbon-Semibold;
                    //text-align: left;
                    font-size: 20px;
                    text-transform:uppercase;
                    color: $labelcolor;
                }
            }

            .rowbody {
                margin-top:20px;
                background-color: #fff;
               
                border-collapse: collapse;

                td {
                    background-color: transparent;
                    border-bottom: 2px solid $borderTable;
                    font-size: 18px;
                  
                    &.image, &.uid {
                        text-align: center;
                        width:15%;
                    }
                }
            }

           
        }
        
        
    }

}



/*@media (min-width: $tablet) {
    .main {
        .menu {
           // margin-right: 60px;
        }

        .tablesearch {
            width: 830px;
        }
    }
   
}*/